{% if play == ' ' %}
    <form method="POST" class="square">
        {% csrf_token %}
        <input name="index" value="{{ index }}" type="hidden">
        <button type="submit">{{ next_player }}</button>
    </form>
{% else %}
    <div class="square">
        {{ play }}
    </div>
{% endif %}
