{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>TIC TAC TOE</title>
        <meta name="description" content="">

        <link rel="stylesheet" href="{% static 'css/normalize.css' %}">
        <link rel="stylesheet" href="{% static 'css/main.css' %}">
    </head>
    <body>
        {% block body %}
        {% endblock %}

        {# <script src="{% static 'js/vendor/jquery-1.10.2.js' %}"></script> #}
        <script src="{% static 'js/main.js' %}"></script>
    </body>
</html>
