body {
  margin: 20px;
}

.button {
  border: 1px solid #ccc;
  padding: 30px;
  font-size: 30px;
  border-radius: 5px;
}

.block {
  width: 400px;
  margin: 0px auto;
  text-align: center;
  padding: 0px auto;
}

* {
  box-sizing: border-box;
}

.board {
  width: 300px;
  margin: 0px auto;
  
}

.board .row {
  border-bottom: 5px solid black;
}

.board .row:after {
  /* Clearfix */
  clear: both;
  content: " ";
  display: table;
}

.board .row:last-child {
  border: none;
}

.square {
  text-align: center;
  vertical-align: middle;
  color: #0000ff;
  float: left;
  width: 100px;
  height: 100px;
  line-height: 100px;
  font-size: 90px;
}

.square {
  border-right: 5px solid black;
}

.square:last-child {
  border: none;
}

.square button[type=submit] {
  width: 100px;
  height: 100px;
  line-height: 100px;
  background: none;
  border: none;
  opacity: 0;
  color: rgba(0, 0, 255, 0.5);
}

.square button[type=submit]:hover {
  opacity: 1;
}
