{% extends "base.html" %}
{% block body %}
<div class="block">
    {% with next_player=game.next_player game_over=game.is_game_over %}
        <div style="margin-top: 10%;margin-bottom: 20%;border-bottom: 5px solid #ccc;padding-bottom: 30px">
        {% if game_over == 'X' %}
            <h1>X wins!</h1>
            <a href="{% url 'game:index' %}">Start a new game</a>
        {% elif game_over == 'O' %}
            <h1>O wins!</h1>
            <a href="{% url 'game:index' %}">Start a new game</a>
        {% elif game_over == ' ' %}
            <h1>Stalemate</h1>
            <a href="{% url 'game:index' %}">Start a new game</a>
        {% else %}
            {# Game still in progress #}
            <h1>{{ next_player }} to play</h1>
        {% endif %}
        </div>
        <div class="board">
            <div class="row">
                {% include "includes/square.html" with game=game index=0 play=game.board.0 %}
                {% include "includes/square.html" with game=game index=1 play=game.board.1 %}
                {% include "includes/square.html" with game=game index=2 play=game.board.2 %}
            </div>
            <div class="row">
                {% include "includes/square.html" with game=game index=3 play=game.board.3 %}
                {% include "includes/square.html" with game=game index=4 play=game.board.4 %}
                {% include "includes/square.html" with game=game index=5 play=game.board.5 %}
            </div>
            <div class="row">
                {% include "includes/square.html" with game=game index=6 play=game.board.6 %}
                {% include "includes/square.html" with game=game index=7 play=game.board.7 %}
                {% include "includes/square.html" with game=game index=8 play=game.board.8 %}
            </div>
        </div>
    {% endwith %}
</div>
{% endblock %}
