{% extends "base.html" %}
{% block body %}
<div class="block" style="margin-top: 20%">
    <h1>Hi, let's play TIC TAC TOE</h1>
    <p>Let's start ?</p>
    <form method="POST">
        {% csrf_token %}
        <input name="player1" type="hidden" value="human"/>
        <input name="player2" type="hidden" value="game.players.RandomPlayer"/>
        <button type="submit" class="button">Play against a computer</button>
    </form>
</div>
{% endblock %}
